* {
    background: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    list-style-type: none;
    max-width: 90%;
    margin: 20px auto;
}
.js-photoGrid {
    columns: 3 250px;
    gap: 5px;
   list-style: none;
}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border: none;
    height: auto;
    break-inside: avoid;
    margin-bottom: 5px;
    
}

.imgContainer img {
    width: 100%;
    border-radius: inherit;
}
.imgContainer {
    transition: transform 0.3s ease;
}

.imgContainer:hover {
    transform: scale(1.1); }
